.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(54, 54, 54);
  text-align: center;
}

span {
  margin: 12px 0px;
  font-size: 18px;
}

.area-input {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-input input {
  width: 100%;
  height: 46px;
  border: 0px;
  background-color: #121212;
  margin-bottom: 12px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  padding: 0px 12px;
}

.area-input button {
  width: 100%;
  height: 46px;
  border: 0px;
  background-color: #7a5dca;
  margin-bottom: 12px;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
  padding: 0px 12px;
}

h2 {
  margin-top: 28px;
}
